/* src/styles/footer.css */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Контейнер страницы должен занимать всё пространство */
#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота страницы — 100% высоты окна */
}

/* Основной контент должен расширяться */
.main-content {
    flex: 1;
}

/* Футер */
footer {
    background-color: #343a40; /* Темный фон футера */
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

footer h5 {
    font-weight: bold;
    margin-bottom: 1rem;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .bi {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    transition: color 0.3s;
}

footer .bi:hover {
    color: #007bff; /* Hover color for icons */
}
