### ETC ###
volumes/
vendor/
node_modules/
.idea/

### drawIO ###
*drawio.bkp

### VS Code ###
.vscode/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr



