.amenities-selection {
    text-align: center;

    display:flex;
    width:400px;
    margin-left: 31%;
    flex-direction: column;
}

.amenities-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;


}
.amenities-list div {

    text-align: left;

}
.amenities-list label {
    display: flex;
    justify-content: space-between;
    text-align:left !important;
    gap: 10px;
}
.amenities-list label input
{
    margin-left:30px;
}

.amenities-list img {
    width: 20px;
    height: 20px;
}


.continue-button11 {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #4389E4;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 15%;
    font-family: Inter, serif !important;
    left: 50%;
    transform: translateX(-50%);
}
.wifi
{
    background-image: url("../assets/wifi.png");
}
.smoking
{
    background-image: url("../assets/smoking.png");
}
.mobile
{
    background-image: url("../assets/mobile.png");
}
.paw
{
    background-image: url("../assets/paw.png");
}
.food
{
    background-image: url("../assets/food.png");
}
.sun
{
    background-image: url("../assets/sun.png");
}
.iconAm
{
    width: 20px;
    height: 20px;
    background-size: 20px;
    margin-left: 20px;
}
.continue-button11:hover {
    background-color: #0056b3;
}

