.coming-soon-container {
    margin: 50px 0;
    background-image: url('../assets/humanwithcard.png'); /* Шлях до зображення */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    height: 55vh;
    width: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.coming-soon-content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    max-width: 450px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.coming-soon-badge {
    background-color: #007bff;
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 0.9rem;
    position: absolute;
    top: -10px;
    right: -10%;
}

.coming-soon-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

.coming-soon-description {
    font-size: 1rem;
    color: #666;
    margin-top: 10px;
    line-height: 1.6;
}

.payment-logos {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.payment-logo {
    width: 40px;
    height: 40px;
}

.logo-visa {
    background-image: url('../assets/visa.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.logo-mcard {
    background-image: url('../assets/mastercard.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


@media (max-width: 599px) {
    .coming-soon-badge {
        right: 0;
    }

}