.passenger-selection-container {
    text-align: center;
    font-family:Inter, sans-serif;
    padding: 20px;
    margin-left:-16%;
    margin-top:0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 24px;
    color: #033849;
    margin-bottom: 20px;
}

.passenger-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.passenger-counter button {
    font-size: 30px;
    padding: 10px;
    border: 2px solid #00aaf2;
    border-radius: 50%;
    background-color: white;
    color: #00aaf2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.passenger-counter span {
    font-size: 50px;
    color: #033849;
}

.divider {
    width: 20%;
    margin: 20px auto;
    border: none;
    height: 2px;
    background-color: #e0e0e0;
}

.passenger-options {
    text-align: left;
    margin-bottom: 20px;
    display: flex;
    width: 20%;

    margin-left: 40%;
    flex-direction: column;
}
.G
{
    background-image: url('../assets/gender.png');
    width: 20px;
    height: 20px;
    background-size: 20px;
    margin-left: 20px;
}
.W
{
    background-image: url('../assets/womenOnly.png');
    width: 20px;
    height: 20px;
    background-size: 20px;
    margin-left: 20px;
}
.passenger-options div {
    margin-bottom: 20px;
}
.divOpt
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.passenger-options input {
    margin-right: 10px;
}

.passenger-options label {
    font-size: 18px;
    color: #033849;

}

.passenger-options p {
    font-size: 14px;
    color: #666666;
    margin-left: 28px;
}

.continue-button9 {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #4389E4;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 20%;
    font-family: Inter, serif !important;
    left: 50%;
    transform: translateX(-50%);
}

.continue-button9:hover {
    background-color: #0056b3;
}
