.car-brand-selection {
    max-width: 500px;
    margin: 40px auto;
    text-align: center;
    font-family: Arial, sans-serif;
}

.title-createTransport {
    font-size: 48px;
    font-family: Inter, sans-serif;
    margin-bottom: 20px;
    color: #0E1429;
}

.search-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #D9D9D9;
    font-size: 16px;
    font-family: Inter, sans-serif;
    color: #3F3F3F;
    text-align: left;

}

.brand-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.brand-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    color: #00303F;
    cursor: pointer;
}

.brand-item i {
    font-size: 16px;
}

.brand-item:hover {
    background-color: #f9f9f9;
}
/* Загальні стилі */
.main7 {
    padding: 20px;
    font-family: Inter, sans-serif;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Стилі для списку моделей */
.carModelSelection, .carColorSelection {
    max-width: 600px;
    margin: 40px auto;
    text-align: left;
}

.modelList, .colorList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.modelItem {
    padding: 15px;
    border-bottom: 1px solid #82858F;
    /*border-radius: 5px;*/
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #f9f9f9;*/
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    font-family: Inter, sans-serif;
}

.colorItem {
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    font-family: Inter, sans-serif;
}

.modelItem:hover, .colorItem:hover {
    background-color: #e9e9e9;
}

.modelItem i, .colorItem i {
    color: #007bff;
}

/* Стилі для кольорів */
.colorCircle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
}

.colorIndicator {
    width: 24px;
    height: 24px;
    border: 2px solid #4389E4; /* Колір та товщина обведення */
    border-radius: 50%; /* Створює круг */
    margin-left: auto; /* Вирівнювання праворуч */
}