.main {
    background-color: #F9FBFF;
    font-family: Inter, sans-serif;
}
.searchPanel
{
    padding: 5px;
    width: 90%;
    margin-left: 3%;
    display:flex;
    background-color: #F9FBFF;
    justify-content: center;
    font-family: Inter, sans-serif;
}
.myNavBar
{
    background-color: #F3F3F3;
    height:70px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /*background-image: url('../assets/logo.png');*/
    /*background-size: 50px 50px;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/

}

.myIconImage5
{
    width: 50px; /* Adjust icon size as needed */
    height: 50px; /* Maintain aspect ratio */
    background-image: url('../assets/logo.png');
    /*margin-right: 20% !important;*/
    position: absolute;
    left: 50%;
}

.myContLine
{
    background-color: #F9FBFF;
    background-image:url('../assets/line.png') ;
    width:1800px;
    background-size:1920px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 8%;
    margin-top: 5%;
}
.butSearch
{
    margin-top: 5px;
    max-width: 120px;
    height:45px;
    background-color:#4389E4 !important;
    width: 100%;
}
.input-container {
    position: relative;
    margin: 5px;
    border-radius: 10px;
}
.card1
{
    top: -100px;
    left: -40px;
}
.card2
{
    top: 60px;
    right: 50px
}
.card3
{
    top:-70px;
    left: 20px;
}

.location-input {
    max-width: 300px;
    padding: 10px 40px 10px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding-left: 40px;
}
.iconS {
    position: absolute;
    width: 20px;
    height: 20px;
    background-size: 20px;
    top: 45%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;

}
.M
{
    background-image: url('../assets/marker.png');
}
.S
{
    background-image: url('../assets/search.png');
}
.C
{

    background-image: url('../assets/calendar.png');
}
.P
{

    background-image: url('../assets/passenger.png');
}
.custom-link
{
    color:#383838 !important;
    font-size:18px !important;
}
.inputs
{
    border: 2px solid #82858F;
    border-radius: 4px;

}
.headerOfCards
{
    color:#4389E4;
}
.cards
{
    position: relative;
    font-family: Inter, serif !important;
    text-align: left;
    padding: 3%;
}

.card-item {
    background-color: white;

    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 280px;
}
.card-item p{
    font-size: 16px;
}

.icon3 {
    display: flex;
    justify-content: center; /* Centers the icon horizontally */
    align-items: center; /* Centers the icon vertically */
    width: 100px; /* Adjust width as necessary */
}
.burgerMenu
{
    background-image: url('../assets/burgerMenu.png');
    width: 30px ; /* Adjust icon size as needed */
    height: 30px ;
    background-size: 30px;
}
.person
{
    background-image: url('../assets/person.png');
    width: 30px; /* Adjust icon size as needed */
    height: 30px;
    background-size: 30px;
}
.myIconImage {
    width: 50px; /* Adjust icon size as needed */
    height: 50px; /* Maintain aspect ratio */
    background-image: url('../assets/logo.png');
    margin-right: 20%;
}
.cards div
{
    width: 400px;

}
.middlePanel
{
    background-color: #F9FBFF;
    background-image:url('../assets/backLogo.png') ;
    width: 351px;
    min-height: 351px;
    background-size: 351px;
    background-repeat: no-repeat;
    background-position: center;
}
@font-face {
    font-family: 'Octin Sports';
    src: url('fonts/octin sports rg.otf') format('truetype');
}

.firstHeader
{
    padding: 30px;

    color:#091528;
    font-family: 'Octin Sports', sans-serif;
    margin-left: 4.5%;

}
.subheader
{
    margin-left: 7%;
    color: #0E1429;
    max-width: 800px;
}
.searchForm .form-control
{

    padding: 5px;

}
.inputs
{
    border: 2px solid #82858F !important;
    border-radius: 4px !important;

}
.miniForm
{
    marginTop: 20px;
    backgroundColor: #f9f9f9;
    padding: 10px;
    borderRadius: 5px;
    boxShadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

}
.miniForm button
{
    margin: 4px;
}






.compact-calendar-wrapper .Calendar__header {
    padding: 5px;
}

.custom-calendar-wrapper .Calendar__monthSelector,
.custom-calendar-wrapper .Calendar__yearSelector {
    padding: 0 5px;
}
.compact-calendar-wrapper {
    font-size: 12px;
    max-width: 200px !important;
}



.compact-calendar-wrapper .Calendar__day {
    width: 30px;
    height: 30px;
}

.compact-calendar-wrapper .Calendar__monthYear,
.compact-calendar-wrapper .Calendar__day {
    padding: 5px;
}

.myLinkStyle {
    color: #4389E4 !important;
    font-size: 20px !important;
    font-family: Inter, serif !important;
    background-image: url('../assets/plus.png') !important;
    background-repeat: no-repeat !important;
    background-position: 104px !important;
    padding-right: 40px !important;
}

/* Медіа запити для корекції відображення порталу */

/* Вимкнення позиціонування при ширині екрану менше ніж 768px */
@media (max-width: 600px) {
    .cards {
        position: static; /* Відміняє позиціонування */
        flex-direction: column;
    }

    .cards div
    {
        width: 100% !important;
    }

    .headerOfCards {
        text-align: center;
    }

    .card1, .card2, .card3 {
        top: auto;
        left: auto;
        right: auto;
    }

}

/* корекція серч панелі при зменшені екрану */
@media (max-width: 586px) {
    .butSearch {
    max-width: 259px !important;
    }
}