.main2 {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #F9FBFF;
    justify-content: space-between;
}

.left-container {
    flex: 2;
    max-width: 48%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #F9FBFF;
    /*box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);*/
    background-image: url("../assets/line.png");
    background-repeat: no-repeat;
    background-position: 70% 80% ;
}

.left-container h2 {
    font-size: 1.5rem;
    color: #333;

}

.left-container p {
    margin: 10px 0;
    font-size: 1rem;
    color: #555;
}

.map-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FBFF;
    max-width: 900px;
    max-height: 800px;
}

.map {
    width: 98%;
    height: 90%;

    background-color: #fff;

    border: 1px solid #ddd;
}

.input-field {
    padding: 10px;
    margin-top: 10%;
    width: 100%;
    border: 1px solid #777777;
    border-radius: 5px;
    font-family: Inter;
    color:#777777;

    font-size: 1rem;
}
.quest
{
    font-family: Inter;
    color:#777777;
    margin-top: 5%;
    margin-bottom: -3%;
}
.inputSpan
{
    position: relative;
    width:100%
}
.iconCross{
    width:  10px;
    top:78px;
    left: 95%;
    height: 10px;
    position: absolute;
    background-repeat: no-repeat;
    z-index: 10;
    background-size: 10px;
    background-image: url("../assets/cross.png");
}
.suggestions-container {
    margin-top: 5%;
    max-height: 200px;
    overflow-y: auto;
    max-width: 98%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    font-size: 0.9rem;
    color: #333;
}

.suggestion-item:hover {
    background-color: #f1f1f1;
}


.continue-button4 {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color:#4389E4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute; /* Фіксуємо кнопку знизу */
    bottom: 50px; /* Відступ від нижньої частини контейнера */
    left: 20%; /* Центруємо кнопку */
    transform: translateX(-50%); /* Центруємо по горизонталі */
}

.continue-button4:hover {
    background-color: #0056b3;
}
