.instant-booking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: -10%;
    font-family: Inter, sans-serif !important;

}

.content-container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    /*background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    padding: 24px;*/
}



.text-container {
    flex-grow: 1;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #003580;
}

.info {
    margin-bottom: 40px;

    margin-left: 5%;
}

.info-item {
    display: flex;
    align-items: center;

    margin-bottom: 20px;
}

.info-item .icon {
    font-size: 32px;
    color: #00a2ff;
    margin-right: 16px;
}

.info-item strong {
    font-size: 18px;
    color: #003580;
}

.info-item p {
    margin: 0;
    color: #666666;
    font-size: 14px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.primary-button {
    background-color: transparent;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    color: #4389E4;
    margin-bottom: 16px;
    transition: background-color 0.3s ease;
}

.primary-button:hover {
    background-color: #0089d1;
}

.secondary-button {
    background-color: transparent;
    color: #003580;
    border: none;
    font-size: 18px;
    cursor: pointer;

}

.secondary-button:hover {
    text-decoration: none;
}
