.price-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    margin-left: -15%;
    margin-bottom: 20%;
    font-family: Inter !important;

}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.price-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.decrease, .increase {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.price2 {
    font-size: 45px;
    font-weight: bold;
}

.price-info {
    text-align: center;
    margin-bottom: 20px;
}

.recommended-price {
    background-color: #48c78e;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.continue-button10 {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #4389E4;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 40%;
    font-family: Inter, serif !important;
    left: 50%;
    transform: translateX(-50%);
}

.continue-button10:hover {
    background-color: #0056b3;
}

