.container5 {
    display: flex;
    height: 100vh;
}

.sidebar {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.map-container {
    flex: 3;
}
.submitButton {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 20px;
    left: 10%;
    transform: translateX(-50%);
}

.submitButton:hover {
    background-color: #0056b3;
}