.card6 {
    background-color: #fff; /* Background color for the card */
    border-radius: 8px; /* Rounded corners */
    padding: 15px; /* Padding inside the card */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Light shadow for depth */
    display: flex; /* Flex layout for content */
    justify-content: space-between; /* Space between elements */
    align-items: center; /* Center alignment for items */
    margin: 10px 0; /* Margin between cards */

}

.info6 {
    flex-grow: 1; /* Allow info to take up remaining space */
}

.location, .driver {
    display: flex; /* Flex layout for locations and driver */
     /* Stack items vertically */


}
.location
{
    flex-direction: row;
    text-align: center;
    justify-content: center;
    max-width: 674px;
}

.time {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-content: space-between;
    justify-content: space-between;
    max-width: 585px;
}



.lineT {
    height: 2px; /* Висота лінії */
    background-color: #007BFF; /* Колір лінії */
    margin: 12px 0; /* Відступи з верхньої та нижньої сторони */
    flex:0.3;
    justify-content: left;
}

.location span {
    /*font-size: 16px; !* Font size for location *!*/
    /*font-weight: bold; !* Bold text *!*/
    flex:0.3;
    text-align: left;
}

.duration {
    margin: 5px 0; /* Margin for duration text */
    font-size: 14px; /* Font size for duration */
    color: #666; /* Color for duration text */
    text-align: center !important;
    flex:2;
}

.town {
    font-size: 20px;
    padding-left: 22px;
    background-image: url('../assets/mapPoint.png');
    background-repeat: no-repeat;
    background-position: 0 4px;

}

.driver {
    flex-direction: row;
    text-align: center;
    justify-content: left;
    max-width: 674px;;
}

.driver span {
    font-size: 20px; /* Font size for driver */
    color: #666; /* Color for driver text */
    padding-top: 5px;
}

.padingLR5px {
    padding-right: 5px;
    padding-left: 5px;
}

.price {
    font-size: 20px; /* Font size for price */
    color: #007BFF; /* Blue color for price */
    font-weight: bold; /* Bold text */
}

.departureTime {
    font-size: 16px; /* Font size for departure time */
    color: #666; /* Color for departure time */
}

.profileAvatarInSearch {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    margin-right: 5px;
}